body {
    font-family: helvetica, sans-serif;
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    margin: 100px auto;
}

label {
    font-weight: bold;  
}

h1 {
    text-align: center;
    background-color: black;
    padding: 5px 0 5px 0;
    color: #FFC125;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
}